.main-settings {
    -fx-tab-min-height: 3em;
    -fx-tab-max-height: 3em;
}
.main-settings .table-column {
    -fx-alignment: center-left;
}
.main-settings .table-button-column.table-cell {
	-fx-alignment: CENTER;
}

.main-settings.tab-pane > .tab-header-area > .headers-region > .tab {
	-fx-background-insets: 0 0 2 0;
	-fx-background-radius: 0;
	-fx-padding: 3em 0em 9em 0em;
	-fx-pref-width: 3em;
}
.main-settings.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
	-fx-graphic-text-gap: 10;
}
.main-settings.tab-pane > .tab-header-area > .headers-region > .tab:left {
    -fx-background-color: transparent;
}
.main-settings.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container {
	-fx-rotate: 90;
}
.main-settings.tab-pane > .tab-header-area > .headers-region > .tab:hover {
	-fx-background-color: -fx-base;
}
.main-settings.tab-pane > .tab-header-area > .headers-region > .tab:selected {
	-fx-background: -fx-accent;
	-fx-background-color: -fx-background;
	-fx-text-base-color: -fx-text-background-color;
}
.main-settings.tab-pane > .tab-header-area > .headers-region > .tab:selected SvgIcon {
	-fx-icon-fill: -fx-text-background-color;
	-fx-icon-stroke: -fx-text-background-color;
}
.main-settings.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
    -fx-border-insets: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
}
.main-settings.tab-pane:left > .tab-header-area > .tab-header-background {
    -fx-background-insets: 0, 0, 0 0 2 0;
}
.main-settings.tab-pane:left > .tab-header-area {
    -fx-padding: 0;
}

.main-settings .add-icon {
	-fx-icon-size: 1.4em;
	-fx-icon-stroke-width: 0;
}

/*******************************************************************************
 *                                                                             *
 * Tab icons                                                                   *
 *                                                                             *
 ******************************************************************************/

.settings-general-icon {
    -fx-icon-content: "M32,376h283.35c6.186-14.112,20.281-24,36.65-24s30.465,9.888,36.65,24H480v32h-91.35c-6.186,14.112-20.281,24-36.65,24 s-30.465-9.888-36.65-24H32 M32,240h91.35c6.186-14.112,20.281-24,36.65-24s30.465,9.888,36.65,24H480v32H196.65c-6.186,14.112-20.281,24-36.65,24 s-30.465-9.888-36.65-24H32 M32,104h283.35c6.186-14.112,20.281-24,36.65-24s30.465,9.888,36.65,24H480v32h-91.35c-6.186,14.112-20.281,24-36.65,24 s-30.465-9.888-36.65-24H32";
}
.settings-sound-icon {
    -fx-icon-content: "M 10.025,8 A 4.486,4.486 0 0 1 8.707,11.182 L 8,10.475 A 3.489,3.489 0 0 0 9.025,8 C 9.025,7.034 8.633,6.159 8,5.525 L 8.707,4.818 A 4.486,4.486 0 0 1 10.025,8 Z M 7,4 A 0.5,0.5 0 0 0 6.188,3.61 L 3.825,5.5 H 1.5 A 0.5,0.5 0 0 0 1,6 v 4 a 0.5,0.5 0 0 0 0.5,0.5 h 2.325 l 2.363,1.89 A 0.5,0.5 0 0 0 7,12 Z M 4.312,6.39 6,5.04 v 5.92 L 4.312,9.61 A 0.5,0.5 0 0 0 4,9.5 H 2 v -3 H 4 A 0.5,0.5 0 0 0 4.312,6.39 Z m 5.809,6.206 A 6.48,6.48 0 0 0 12.025,8 6.48,6.48 0 0 0 10.121,3.404 L 9.414,4.111 A 5.483,5.483 0 0 1 11.025,8 5.483,5.483 0 0 1 9.415,11.89 Z m 1.415,1.414 A 8.473,8.473 0 0 0 14.026,8 8.473,8.473 0 0 0 11.536,1.99 L 10.828,2.697 A 7.476,7.476 0 0 1 13.025,8 c 0,2.071 -0.84,3.946 -2.197,5.303 z";
}
.settings-video-icon {
    -fx-icon-content: "M10 8v8l5-4-5-4zm9-5H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V5h14v14z";
}