# Eclipse Core
**/.classpath
**/.project
**/.settings/

# IntelliJ IDEA
**/*.iml
**/.idea

# Visual Studio Code
.vs

# VS Code
.vscode

# Maven Build
**/target

# Node
node_modules/

# Build Directories
**/bin/
**/obj/