[Desktop Entry]
Version=1.0
Type=Application
Name=lecturePresenter
Comment=An integrated tool for presenting lectures
Exec=lecturePresenter
Icon=lecturePresenter
Categories=Education;
Terminal=false
StartupNotify=true