.audio-loudness {
    -fx-background-color: rgba(64, 64, 64, 0.85);
}
.audio-loudness > .content {
    -fx-background-color: white;
    -fx-background-radius: 3;
    -fx-padding: 1em;
}
.audio-loudness > .content > .header {
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
    -fx-padding: 0 0 1.25em 0;
}
.audio-loudness .header {
    -fx-font-weight: bold;
}
.audio-loudness .check-box {
    -fx-padding: 1.25em;
}
.audio-loudness > .content > .loudness-options {
    -fx-padding: 0 0 1.25em 0;
}
.audio-loudness > .content > .buttons {
    -fx-spacing: 5;
}
.audio-loudness > .content > .lufs-area > .text-field {
    -fx-max-width: 6em;
}
.audio-loudness > .content > .lufs-area {
    -fx-spacing: 5;
}
