<div>
	<form (ngSubmit)="onSubmit()" #heroForm="ngForm">
		<input type="hidden" value="{{serviceData.serviceId}}" />
		<mat-form-field hintLabel="{{ 'message.input.length' | translate:{count: minLength} }}" class="message-area">
			<textarea matInput #input [(ngModel)]="message.text" name="message" rows=3 placeholder="{{ 'message.desc' | translate }}"></textarea>
			<mat-hint align="end">{{input.value?.length || 0}}</mat-hint>
		</mat-form-field>
		<button mat-stroked-button color="primary" [disabled]="input.value?.length < minLength">
			{{ 'button.send' | translate }}
			<mat-icon>send</mat-icon>
		</button>
	</form>
</div>
