html {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Segoe UI', Arial, sans-serif;
	font-size: 1.2em;
	line-height: 1.4;
	padding: 0;
	margin: 0;
}
pre {
	font-family: inherit;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

.speech-bubble {
	position: relative;
	margin: 0 auto;
	padding: 1rem;
	border-radius: 15px;
	background-color: #D6EBEB;
}
.speech-bubble:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	left: 28px;
	bottom: -17px;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-top: 17px solid #D6EBEB;
}