html {
	margin: 0;
	padding: 0;
}
body {
	font-family: Helvetica, Sans-Serif;
	font-size: 1.2em;
	line-height: 1.4;
	padding: 0;
	margin: 0;
}

ol li,
ul li {
	margin: 10px 0;
}
ul.options {
	padding-left: 0;
}

.chart table {
	width: 100%;
	border-collapse: collapse;
}
.chart table td {
	padding: 0 0.7em 0.7em 0;
	vertical-align: top;
}
.chart table td div {
	max-height: 2.75em;
	overflow: hidden;
}

.correct {
	color: green;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'Symbols' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-check:before {
	content: "\e900";
}