<div class="media-controls">
	<audio id="audio">
		Your browser does not support the audio element.
	</audio>
	<div class="control-bar">
		<span class="time current-time" id="currentTimeText">0:00</span>
		<web-slider class="time-slider" id="timeSlider" min="0" max="1" value="0" step="0.001" bubble progress></web-slider>
		<span class="time duration" id="durationText">0:00</span>
	</div>
	<div class="control-bar">
		<div class="col nav-left"></div>
		<div class="col nav-center">
			<div tooltip="Previous slide">
				<span class="icon icon-previous control-button" id="prevButton"></span>
			</div>
			<div class="play-pause">
				<div class="background">
					<div tooltip="Pause" class="pause-button" id="pauseButton">
						<span class="icon icon-pause"></span>
					</div>
				</div>
				<div class="foreground">
					<div tooltip="Play" class="play-button" id="playButton">
						<span class="icon icon-play"></span>
					</div>
				</div>
			</div>
			<div tooltip="Next slide">
				<span class="icon icon-next control-button" id="nextButton"></span>
			</div>
		</div>
		<div class="col nav-right">
			<div>
				<div tooltip="Mute">
					<span class="icon volume-indicator" id="volumeIndicator"></span>
				</div>
				<web-slider class="volume-slider" id="volumeSlider" min="0" max="100" value="100" step="1" bubble progress></web-slider>
			</div>
			<div class="playback-rate">
				<span class="icon icon-playback-rate control-button"></span>
				<div class="rate-content">
					<span class="rate-label">Playback Speed</span>
					<ul class="rate-steps">
						<li data-value="0.5">0.5x</li>
						<li data-value="0.75">0.75x</li>
						<li data-value="1" class="active">Normal</li>
						<li data-value="1.25">1.25x</li>
						<li data-value="1.5">1.5x</li>
					</ul>
				</div>
			</div>
			<div tooltip="Fullscreen">
				<span class="icon icon-expand control-button" id="fullscreenButton"></span>
			</div>
		</div>
	</div>
</div>