.media-controls {
	background-color: rgba(60, 70, 75, 0.9);
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.control-bar {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0;
	margin: 0;
}
.control-bar .time {
	color: #f2f4f4;
	padding: 0 10px 0 10px;
	font-size: small;
}
.control-bar .col {
	flex: 1;
	display: flex;
	align-items: center;
}
.control-bar .nav-left {
	flex: 1;
	justify-content: flex-start;
}
.control-bar .nav-center {
	flex: 1;
	justify-content: center;
}
.control-bar .nav-right {
	flex: 1;
	justify-content: flex-end;
}
.control-bar .icon {
	color: #f2f4f4;
	font-size: 18px;
	cursor: pointer;
}
.control-bar .icon:hover {
	color: #fff;
	background-color: rgba(98, 112, 119, 0.7);
}

.control-bar .control-button {
	padding: 8px;
}

.control-bar .time-slider {
	width: 100%;
}

.control-bar .volume-indicator {
	padding: 5px;
}
.control-bar .volume-slider {
	width: 120px;
}

.control-bar .nav-center > div,
.control-bar .nav-right > div {
	display: inherit;
	text-align: center;
	vertical-align: middle;
	align-items: center;
}

.play-pause {
	margin: 0 15px 0 15px;
	padding: 6px 0 4px 0;
	display: flex;
	flex-flow: row nowrap;
}
.play-pause .background,
.play-pause .foreground {
	width: 100%;
	flex: none;
}
.play-pause .foreground {
	margin-left: -100%;
}
.play-pause .icon {
	font-size: 24px;
	padding: 6px;
}

.media-controls .playback-rate {
	position: relative;
	display: inline-block;
}
.media-controls .rate-button {
	border: none;
	cursor: pointer;
	padding: 8px;
}
.media-controls .rate-content {
	display: none;
	font-size: 80%;
	font-weight: bold;
	bottom: 100%;
	right: 0;
	padding: 10px 0;
	text-align: left;
	position: absolute;
	background-color: hsl(0, 0%, 20%);
	color: #eee;
	min-width: 300px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.media-controls .playback-rate:hover .rate-content {
	display: block;
}
.media-controls .playback-rate .rate-label {
	padding: 10px;
}

.rate-steps {
	padding: 10px 0 0 0;
	margin: 0;
}
.rate-steps li {
	list-style-type: none;
	float: left;
	width: 20%;
	position: relative;
	text-align: center;
	cursor: pointer;
}
.rate-steps li:before {
	background-color: white;
	content: '';
	width: 10px;
	height: 10px;
	line-height: 10px;
	border: 1px solid #ddd;
	border-radius: 50%;
	display: block;
	text-align: center;
	margin: 0 auto 10px auto;
}
.rate-steps li:after {
	background-color: #ddd;
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	top: 5px;
	left: -50%;
	z-index: -1;
}
.rate-steps li:first-child:after {
	content: none;
}
.rate-steps li:hover:before {
	background-color: #1ABC9C;
}
.rate-steps li.active {
	color: #1ABC9C;
	font-weight: bold;
}
.rate-steps li.active:before {
	background-color: #1ABC9C;
	border-color: #1ABC9C;
}

web-media-controls[visible] {
	animation: show-media-controls 0.15s forwards;
}
web-media-controls:not([visible]) {
	animation: hide-media-controls 0.15s forwards;
}

@keyframes hide-media-controls {
	0% { opacity: 1; visibility: inherit; }
    100% { opacity: 0; }
}

@keyframes show-media-controls {
    0% { opacity: 0; }
    100% { opacity: 1; visibility: inherit; }
}