.media-track-controls > .search-box {
	-fx-spacing: 8;
	-fx-padding: 0 0.25em 0 0;
}
.media-track-controls > .search-box > .search-field {
	-fx-background-radius: 20;
	-fx-padding: 0.1em 0.583em;
}
.media-track-controls > .separator {
	-fx-orientation: vertical;
}
.media-track-controls > .separator:vertical {
	-fx-padding: 0 0.75em;
}
.media-track-controls > .separator:vertical .line {
	-fx-border-color: transparent;
	-fx-border-insets: 0;
	-fx-border-width: 0;
}
.media-track-controls > .button,
.media-track-controls > .toggle-button,
.media-track-controls > .button-group > .container > .button,
.media-track-controls > .button-group > .container > .toggle-button,
.media-track-controls > .search-box > .button-group > .container > .button {
	-fx-background-radius: 0;
	-button-size: 2em;
	-fx-content-display: graphic-only;
	-fx-pref-width: -button-size;
	-fx-pref-height: -button-size;
	-fx-min-width: -button-size;
	-fx-min-height: -button-size;
	-fx-max-width: -button-size;
	-fx-max-height: -button-size;
}
.media-track-controls > .zoom-slider {
	-fx-padding: 0 0.3em;
	-fx-pref-width: 10em;
}
.media-track-controls .undo-icon {
	-fx-icon-content: "M380.931 512c56.863-103.016 66.444-260.153-156.931-254.912v126.912l-192-192 192-192v124.186c267.481-6.971 297.285 236.107 156.931 387.814z";
}
.media-track-controls .redo-icon {
	-fx-icon-content: "M288 124.186v-124.186l192 192-192 192v-126.912c-223.375-5.241-213.794 151.896-156.93 254.912-140.356-151.707-110.55-394.785 156.93-387.814z";
}
.media-track-controls .cut-icon {
	-fx-icon-content: "M208 208.031c0-8.75 7.25-16 16-16s16 7.25 16 16-7.25 16-16 16-16-7.25-16-16zM224 133.031l99.5-126.75c3.25-4.5 8.75-6.75 14-6.25 5.5 0.75 10.25 4 12.75 8.75l16 32c1.25 2.25 1.75 4.75 1.75 7.25 0 2.75-0.75 5.5-2 7.75l-96.75 172.5 16.5 27.5c0.5 1 1 2 1.25 3 7.75-2.25 16-3.25 24.25-2.5 25.75 2.25 50.25 19.5 67.75 47 13.5 21.25 21 45.75 21 69.25 0 22.5-6.75 41.5-19.5 55.5-13.25 14.25-32.25 21.5-51.75 19.75-25.5-2.25-50.25-19.5-67.75-46.75-13.5-21.25-21-46-21-69.5 0-14 2.75-26.75 7.75-37.75-2.25-1.5-4-3.25-5.5-5.5l-18.25-30.5-18.25 30.5c-1.5 2.25-3.25 4-5.5 5.5 5 11 7.75 23.75 7.75 37.75 0 23.5-7.5 48.25-21 69.5-17.5 27.25-42.25 44.5-67.75 46.75-19.5 1.75-38.5-5.5-51.5-19.75-13-14-19.75-33-19.75-55.5 0-23.5 7.5-48 21-69.25 17.25-27.5 42-44.75 67.75-47 8.25-0.75 16.5 0.25 24.25 2.5 0.25-1 0.75-2 1.25-3l16.5-27.5-96.75-172.5c-1.25-2.25-2-5-2-7.75 0-2.5 0.5-5 1.75-7.25l16-32c2.5-4.75 7.25-8 12.75-8.75 5.25-0.5 10.75 1.75 14 6.25zM159 303.281c-14-15.25-39.25-5.75-56.25 21.25-9.75 15.25-14.75 33-14.75 48 0 11.5 3 21.75 9 28.25 14 15.25 39.25 5.75 56.25-21.25 9.75-15.25 14.75-32.75 14.75-48 0-11.5-3-21.75-9-28.25zM345.25 324.531c-17-27-42.25-36.5-56.25-21.25-6 6.5-9 16.75-9 28.25 0 15.25 5 32.75 14.75 48 17 27 42.25 36.5 56.25 21.25 6-6.5 9-16.75 9-28.25 0-15-5-32.75-14.75-48zM192 280.031l14.5-24h-2.75c-5.75 0-11-3.25-14-8.25l-2-3.5-11.75 19.75 6.5 6.5c2 2 4 3.5 5.75 5.5 0.75 0.75 1 1.25 1.5 1.75zM248 224.031l8-24-144-184-16 32 107.75 192h28.25l24 40 2-2.25c0.75-0.5 1-1 1.5-1.75 2-2 4-3.5 6-5.5l6.5-6.5zM352 48.031l-16-32-102 130 34.5 44.25c1 0.75 1.25 2 1.75 3.25z";
}
.media-track-controls .delete-page-icon {
	-fx-icon-content: "M 5,2.25 C 3.4894729,2.25 2.25,3.4894729 2.25,5 v 14 c 0,1.510527 1.2394729,2.75 2.75,2.75 h 14 c 1.510527,0 2.75,-1.239473 2.75,-2.75 V 5 C 21.75,3.4894729 20.510527,2.25 19,2.25 Z m 0,1.5 h 14 c 0.705473,0 1.25,0.5445271 1.25,1.25 v 14 c 0,0.705473 -0.544527,1.25 -1.25,1.25 H 5 C 4.2945271,20.25 3.75,19.705473 3.75,19 V 5 C 3.75,4.2945271 4.2945271,3.75 5,3.75 Z m 3,7.5 a 0.750075,0.750075 0 1 0 0,1.5 h 8 a 0.750075,0.750075 0 1 0 0,-1.5 z";
}
.media-track-controls .replace-page-icon {
	-fx-icon-content: "M12.497 0h-6.497v2.010h1v-1.010h5v4h4v8h-4.017v1h5.017v-9.818l-4.503-4.182zM13 1.832l2.335 2.168h-2.335v-2.168zM0 3v14h11v-9.818l-4.503-4.182h-6.497zM7 4.832l2.335 2.168h-2.335v-2.168zM1 16v-12h5v4h4v8h-9z";
}
.media-track-controls .import-recording-icon {
	-fx-icon-content: "M 6 1.5 C 4.6252104 1.5 3.5 2.6252104 3.5 4 L 3.5 20 C 3.5 21.37479 4.6252104 22.5 6 22.5 L 18 22.5 C 19.37479 22.5 20.5 21.37479 20.5 20 L 20.5 8 A 0.50005 0.50005 0 0 0 20.353516 7.6464844 L 14.353516 1.6464844 A 0.50005 0.50005 0 0 0 14 1.5 L 6 1.5 z M 6 2.5 L 13.792969 2.5 L 19.5 8.2070312 L 19.5 20 C 19.5 20.834349 18.834349 21.5 18 21.5 L 6 21.5 C 5.1656506 21.5 4.5 20.834349 4.5 20 L 4.5 4 C 4.5 3.1656506 5.1656506 2.5 6 2.5 z M 14 1.5 A 0.5 0.5 0 0 0 13.5 2 L 13.5 8 A 0.50005 0.50005 0 0 0 14 8.5 L 20 8.5 A 0.5 0.5 0 0 0 20.5 8 A 0.5 0.5 0 0 0 20 7.5 L 14.5 7.5 L 14.5 2 A 0.5 0.5 0 0 0 14 1.5 z M 12 11.5 A 0.5 0.5 0 0 0 11.5 12 L 11.5 18 A 0.5 0.5 0 0 0 12 18.5 A 0.5 0.5 0 0 0 12.5 18 L 12.5 12 A 0.5 0.5 0 0 0 12 11.5 z M 9 14.5 A 0.5 0.5 0 0 0 8.5 15 A 0.5 0.5 0 0 0 9 15.5 L 15 15.5 A 0.5 0.5 0 0 0 15.5 15 A 0.5 0.5 0 0 0 15 14.5 L 9 14.5 z";
}
.media-track-controls .adjust-volume-icon {
	-fx-icon-content: "M18 9.25a.75.75 0 00-.75.75v10a.75.75 0 00.75.75.75.75 0 00.75-.75V10a.75.75 0 00-.75-.75zM12 3.25a.75.75 0 00-.75.75v16a.75.75 0 00.75.75.75.75 0 00.75-.75V4a.75.75 0 00-.75-.75zM6 13.25a.75.75 0 00-.75.75v6a.75.75 0 00.75.75.75.75 0 00.75-.75v-6a.75.75 0 00-.75-.75z";
}
.media-track-controls .collapse-selection-icon {
	-fx-icon-content: "M31.738 52.059H16.206V47.94h15.532l-6.782-6.782 2.912-2.91L39.619 50 27.868 61.748l-2.912-2.912zm36.524-4.118h15.532v4.118H68.262l6.777 6.777-2.91 2.912L60.38 50l11.747-11.752 2.911 2.911zM52.059 15H47.94v70h4.118z";
}
.media-track-controls .zoom-in-icon {
	-fx-icon-content: "M160 416h192v192c0 17.664 14.336 32 32 32s32-14.336 32-32v-192h192c17.664 0 32-14.336 32-32s-14.336-32-32-32h-192v-192c0-17.664-14.336-32-32-32s-32 14.336-32 32v192h-192c-17.664 0-32 14.336-32 32s14.336 32 32 32z";
}
.media-track-controls .zoom-out-icon {
	-fx-icon-content: "M160 416h448c17.664 0 32-14.336 32-32s-14.336-32-32-32h-448c-17.664 0-32 14.336-32 32s14.336 32 32 32z";
}
.media-track-controls .search-prev-icon {
	-fx-icon-content: "M 11.984375,8 A 1.0001,1.0001 0 0 0 11.292969,8.2929688 L 5.2929688,14.292969 a 1.0001,1.0001 0 1 0 1.4140624,1.414062 L 12,10.414062 l 5.292969,5.292969 a 1.0001,1.0001 0 1 0 1.414062,-1.414062 l -6,-6.0000002 A 1.0001,1.0001 0 0 0 11.984375,8 Z";
}
.media-track-controls .search-next-icon {
	-fx-icon-content: "M 5.9902344,7.9902344 A 1.0001,1.0001 0 0 0 5.2929688,9.7070312 l 6.0000002,5.9999998 a 1.0001,1.0001 0 0 0 1.414062,0 l 6,-5.9999998 A 1.0001,1.0001 0 1 0 17.292969,8.2929688 L 12,13.585938 6.7070312,8.2929688 A 1.0001,1.0001 0 0 0 5.9902344,7.9902344 Z";
}