.page-slider {
    -fx-font-size: 0.75em;
    -fx-text-fill: -fx-text-inner-color;
    -fx-background-color: rgba(210, 210, 210, 0.7);
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
    -fx-background-position: center;
    -fx-cursor: hand;
}

.page-event-marker {
    -fx-fill: #63B3ED;
}

.page-event-delete-marker {
    -fx-fill: #FC8181;
}

.page-event-screen-marker {
    -fx-fill: #94A3B8;
}

.event-timeline-pane {
    -fx-background-color: derive(-fx-background, -4%);
}