.media-tracks > ScrollPane {
	-fx-background-color: transparent;
	-fx-padding: 0;
}
.media-tracks > .select-rect {
	-fx-fill: #38B2AC55;
}
.media-tracks > .slider-pane {
	-fx-background-color: derive(-fx-base, -80%);
	-fx-pref-height: 1.5em;
	-fx-max-height: 1.5em;
}
.media-tracks > .slider-time {
	-fx-fill: -fx-light-text-color;
	-fx-font-size: 0.9em;
}
.media-tracks > .slider-line {
	-fx-stroke: #38B2AC;
	-fx-stroke-width: 1;
	-fx-stroke-line-cap: butt;
	-fx-smooth: false;
}
.media-tracks > .slider-line.primary-line {
	-fx-stroke: #A3BFFA;
}
.media-tracks > .time-slider > .slider-thumb {
	-fx-icon-content-width: 24;
	-fx-icon-content-height: 24;
	-fx-icon-stroke-width: 1;
	-fx-icon-size: 2em;
	-fx-background-color: null;
	-fx-padding: 0;
}
.media-tracks > .primary-slider > .slider-thumb-shadow {
	-fx-icon-content-width: 24;
	-fx-icon-content-height: 24;
	-fx-icon-stroke-width: 1;
	-fx-icon-size: 2em;
}
.media-tracks > .primary-slider > .slider-thumb,
.media-tracks > .primary-slider > .slider-thumb-shadow {
	-fx-icon-content: "M 18.16,17.24125 c 0.51,-0.36 0.84,-0.96 0.84,-1.63 l -0.01,-11 c 0,-1.1 -0.89,-2 -1.99,-2 H 7 c -1.1,0 -1.99,0.9 -1.99,2 l -0.01,11 c 0,0.67 0.33,1.27 0.84,1.63 l 5.58,3.96 c 0.35,0.25 0.81,0.25 1.16,0 z";
	-fx-icon-fill: #667EEA;
	-fx-icon-stroke: #A3BFFA;
}
.media-tracks > .primary-slider > .slider-thumb-shadow SVGPath {
	-fx-effect: dropshadow(three-pass-box, black, 5, 0, 0, 2);
}
.media-tracks > .secondary-slider > .slider-thumb {
	-fx-icon-fill: #2C7A7B;
	-fx-icon-stroke: #38B2AC;
}
.media-tracks > .secondary-slider:left > .slider-thumb {
	-fx-icon-content: "M 18.5,2.5 c 1.1,0 2,0.9 2,2 v 17 l -7,-6 h -8 c -1.1,0 -2,-0.9 -2,-2 v -9 c 0,-1.1 0.9,-2 2,-2 z M 6.773438,5.2675781 H 6.666016 v 7.4374999 h 0.107422 z m 3.24414,0.00195 H 9.910156 v 7.4355468 h 0.107422 z";
}
.media-tracks > .secondary-slider:right > .slider-thumb {
	-fx-icon-content: "M 5.5 2.5 C 4.4 2.5 3.5 3.4 3.5 4.5 L 3.5 21.5 L 10.5 15.5 L 18.5 15.5 C 19.6 15.5 20.5 14.6 20.5 13.5 L 20.5 4.5 C 20.5 3.4 19.6 2.5 18.5 2.5 L 5.5 2.5 z M 17.226562 5.2675781 L 17.333984 5.2675781 L 17.333984 12.705078 L 17.226562 12.705078 L 17.226562 5.2675781 z M 13.982422 5.2695312 L 14.089844 5.2695312 L 14.089844 12.705078 L 13.982422 12.705078 L 13.982422 5.2695312 z";
}
.media-tracks > .placeholder {
	-fx-background-color: -fx-background;
	-fx-border-color: derive(-fx-background, -8%);
	-fx-border-width: 0 1 0 0;
}
.media-tracks > .placeholder.top {
	-fx-border-width: 0 1 0 0;
}
.media-tracks > .placeholder.right {
	-fx-border-width: 0 0 0 1;
	-fx-pref-width: 2em;
	-fx-max-width: 2em;
}
.media-tracks > .track-info-pane > .track-info {
	-fx-background-color: -fx-background;
	-fx-padding: 0 1em;
	-fx-border-color: derive(-fx-background, -8%);
	-fx-border-width: 0 1 0 0;
}
.media-tracks > .track-info-pane > .track-info > SvgIcon {
	-fx-icon-size: 1em;
}
.media-tracks > .scroll-bar {
	-fx-background-color: -fx-base;
	-fx-pref-width: 1em;
	-fx-pref-height: 1em;
	-fx-padding: 0;
}
.media-tracks > .scroll-bar:horizontal .decrement-arrow,
.media-tracks > .scroll-bar:horizontal .increment-arrow,
.media-tracks > .scroll-bar:horizontal .decrement-button,
.media-tracks > .scroll-bar:horizontal .increment-button {
	-fx-background-color: null;
	-fx-background-radius: 0;
	-fx-padding: 0 0 0.8333em 0;
	-fx-pref-width: 0;
	-fx-shape: null;
}
.media-tracks > .scroll-bar:vertical .decrement-arrow,
.media-tracks > .scroll-bar:vertical .increment-arrow,
.media-tracks > .scroll-bar:vertical .decrement-button,
.media-tracks > .scroll-bar:vertical .increment-button {
	-fx-background-color: null;
	-fx-background-radius: 0;
	-fx-padding: 0 0.8333em 0 0;
	-fx-pref-height: 0;
	-fx-shape: null;
}
.media-tracks > .scroll-bar:horizontal .decrement-arrow,
.media-tracks > .scroll-bar:horizontal .increment-arrow,
.media-tracks > .scroll-bar:horizontal .decrement-button,
.media-tracks > .scroll-bar:horizontal .increment-button {
	-fx-background-color: null;
	-fx-background-radius: 0;
	-fx-padding: 0 0 0.8333em 0;
	-fx-pref-height: 0;
	-fx-shape: null;
}
.media-tracks > .scroll-bar .thumb {
	-fx-background-color: derive(-fx-base, -12%);
	-fx-background-radius: 5;
	-fx-pref-width: 1em;
	-fx-pref-height: 1em;
}
.media-tracks > .scroll-bar .thumb:hover,
.media-tracks > .scroll-bar .thumb:pressed {
	-fx-background-color: derive(-fx-base, -25%);
}
.media-tracks > .scroll-bar:horizontal .thumb {
	-fx-background-insets: 0.1666em 0;
}
.media-tracks > .scroll-bar:vertical .thumb {
	-fx-background-insets: 0 0.1666em;
}

.track-info > .audio-track-icon {
	-fx-icon-content: "M256 576c0 17.696-7.136 33.632-18.752 45.248s-27.552 18.752-45.248 18.752-33.632-7.136-45.248-18.752-18.752-27.552-18.752-45.248 7.136-33.632 18.752-45.248 27.552-18.752 45.248-18.752 33.632 7.136 45.248 18.752 18.752 27.552 18.752 45.248zM704 512v-416c0-1.6-0.128-3.424-0.448-5.248-2.912-17.44-19.392-29.216-36.832-26.304l-384 64c-15.232 2.592-26.72 15.744-26.72 31.552v305.12c-18.816-10.88-40.704-17.12-64-17.12-35.328 0-67.392 14.368-90.496 37.504s-37.504 55.168-37.504 90.496 14.368 67.392 37.504 90.496 55.168 37.504 90.496 37.504 67.392-14.368 90.496-37.504 37.504-55.168 37.504-90.496v-388.896l320-53.344v267.36c-18.816-10.88-40.704-17.12-64-17.12-35.328 0-67.392 14.368-90.496 37.504s-37.504 55.168-37.504 90.496 14.368 67.392 37.504 90.496 55.168 37.504 90.496 37.504 67.392-14.368 90.496-37.504 37.504-55.168 37.504-90.496zM640 512c0 17.696-7.136 33.632-18.752 45.248s-27.552 18.752-45.248 18.752-33.632-7.136-45.248-18.752-18.752-27.552-18.752-45.248 7.136-33.632 18.752-45.248 27.552-18.752 45.248-18.752 33.632 7.136 45.248 18.752 18.752 27.552 18.752 45.248z";
}
.track-info > .events-track-icon {
	-fx-icon-content: "M992 896q13 0 22.5 9.25t9.5 22.75q0 12-8.5 22-15 17.5-34.5 31.25t-41.5 23.25-45.5 14.5-46 5q-49.5 0-91.5-19.25t-76-54.75q-24.5-25.5-54.5-39.75t-66-14.25q-35 0-65.75 14.25t-54.75 39.75l-4.75 4.5-11.5 11.25-14.75 14.75-15.25 15-12.5 12.5-6.25 6.5q-9.5 9.5-22.5 9.5t-22.5-9.5-9.5-22.5 9.5-22.5q27-27 51-52t50-44 57-30.25 72.5-11.25q49.5 0 91.5 19.25t76 54.75q24.5 25.5 54.5 39.75t66 14.25q38 0 66-14.25t54.5-39.75q5.5-5 10.75-7.5t12.75-2.5zm-374.5-751q7 4 11.5 11.5t4.5 16q0 4-1 7.5t-2.5 7l-353.5 707.5q-4.5 9.5-14 14l-86.5 43.5q-16 8-34.5 8h-4.75l-4.75-.5-23.5 47q-4 8-11.75 12.75t-16.75 4.75q-13 0-22.5-9.5t-9.5-22.5q0-6 3.5-15t8.25-18.75 9.75-18.25 7.5-14q-13-20-13-43.5v-82.5q0-8 3.5-14.5l288-576-32.5-16-118.5 237q-4 8-11.75 12.75t-16.75 4.75q-13 0-22.5-9.5t-9.5-22.5q0-6.5 3.5-14.5l119.5-239q8-16 21.5-25.25t31.5-9.25q17.5 0 33.25 8.5t30.75 16l35.5-71q4-8.5 11.75-13t16.75-4.5q6.5 0 11 2 6-12 11.75-23.75t13-21.25 17.75-15.25 26.5-5.75 30.5 7.5l47 23.5q16 8 25.25 21.25t9.25 31.75q0 17-7.75 31.75t-14.75 29.25zm-101-50.5l43.5 21.5 14.5-29-43.5-21.5zm42 92.5l-96-48-334.5 668.5v75q0 5.5 4 9.5t9.5 4q2 0 8.25-2.5t14.5-6.5 17.5-8.75 17.75-9.25 15-8 9.5-5z";
}