.page-object {
	-fx-border: 1;
	-fx-border-color: DARKSLATEBLUE;
	-fx-border-radius: 2 2 2 2;
}
.page-object > .header {
	-fx-background-color: DARKSLATEBLUE;
	-fx-background-insets: 0, 1 1 0 0;
	-fx-background-radius: 1 1 0 0, 1 1 0 0;
}
.page-object > .header > .close-button {
	-fx-background-radius: 0 2 0 0, 0 1 0 0;
	-fx-padding: 0.25em;
}
.page-object > .header > .close-button:hover {
	-fx-background-color: red;
}
.page-object > .header > .close-button > .close-icon {
	-fx-min-width: 1em;
	-fx-min-height: 1em;
	-fx-pref-width: 1em;
	-fx-pref-height: 1em;
	-fx-max-width: 1em;
	-fx-max-height: 1em;
	-fx-background-color: white;
	-fx-shape: "M72.1,78.3L49,55.2L25.9,78.3c-1.3,1.3-2.9,1.3-4.2,0s-1.3-2.9,0-4.2L44.8,51L21.7,27.9  c-1.3-1.3-1.3-2.9,0-4.2c1.3-1.3,2.9-1.3,4.2,0L49,46.8l23.1-23.1c1.3-1.3,2.9-1.3,4.2,0s1.3,2.9,0,4.2L53.2,51l23.1,23.1  c1.3,1.3,1.3,2.9,0,4.2C75,79.5,73.3,79.5,72.1,78.3z";
}
