.screen-capture-timeline {
    -fx-screen-capture-timeline-background: derive(-fx-background, -4%);
    -fx-screen-capture-timeline-text-color: #ffffff;
    -fx-screen-capture-timeline-segment-mark-color: #0a4244;
}