.about .tab-content {
	-fx-padding: 1.25em 0 0 0;
}
.about .developers-container {
	-fx-padding: 0 0 1.25em 0;
}
.about .sponsors-container {
	-fx-font-weight: bold;
}
.about .properties-table .table-column {
    -fx-alignment: CENTER-LEFT;
}
.about .properties-table .table-row-cell {
    -fx-cell-size: 3em;
}