.main-slides .tab-icon {
    -fx-padding: 0.33em;
	-fx-background-color: -fx-text-base-color;
	-fx-snap-to-pixel: true;
}
.main-slides .notes-icon {
	-fx-shape: "M256 128v-43h-256v43h256zM256 299v-43h-256v43h256zM0 171v42h384v-42h-384zM0 0v43h384v-43h-384zM0 384h384v-43h-384v43z";
}

/*******************************************************************************
 *                                                                             *
 * Notes highlight                                                             *
 *                                                                             *
 ******************************************************************************/

.main-slides .ext-tab-pane > .ext-tab-header > .ext-tab.notes-highlight {
    -fx-background-color: -fx-outer-border, -fx-inner-border, CRIMSON;
}
.main-slides .ext-tab-pane > .ext-tab-header > .ext-tab.notes-highlight > .ext-tab-label {
    -fx-text-fill: -fx-light-text-color;
}

.main-slides .tab-icon.notes-highlight {
	-fx-background-color: -fx-light-text-color;
}