@font-face {
	font-family: 'player-icons';
	src: url('player-icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'player-icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-document:before {
	content: "\ed43";
}
.icon-sidebar-left:before {
	content: "\e900";
}
.icon-sidebar-none:before {
	content: "\e901";
}
.icon-sidebar-right:before {
	content: "\e902";
}
.icon-search:before {
	content: "\e908";
}
.icon-contract:before {
	content: "\e906";
}
.icon-expand:before {
	content: "\e905";
}
.icon-arrow-dropdown:before {
	content: "\e903";
}
.icon-arrow-dropup:before {
	content: "\e904";
}
.icon-close-circle-outline:before {
	content: "\e907";
}
.icon-previous:before {
	content: "\ed7f";
}
.icon-next:before {
	content: "\ed16";
}
.icon-pause:before {
	content: "\ed4f";
}
.icon-play:before {
	content: "\ed6c";
}
.icon-playback-rate:before {
	content: "\ed72";
}
.icon-mute:before {
	content: "\ecf9";
}
.icon-volume0:before {
	content: "\ef0c";
}
.icon-volume1:before {
	content: "\ef0d";
}
.icon-volume2:before {
	content: "\ef0e";
}
.icon-volume3:before {
	content: "\ef0f";
}
