[tooltip],
[tooltip-bottom],
[tooltip-left],
[tooltip-right] {
	position: relative;
}

[tooltip]:before,
[tooltip]:after,
[tooltip-bottom]:before,
[tooltip-bottom]:after,
[tooltip-left]:before,
[tooltip-left]:after,
[tooltip-right]:before,
[tooltip-right]:after {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;

	-webkit-transition:
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out;
	-moz-transition:
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out;
	transition:
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out;
}

[tooltip]:hover:before,
[tooltip]:hover:after,
[tooltip]:focus:before,
[tooltip]:focus:after,
[tooltip-bottom]:hover:before,
[tooltip-bottom]:hover:after,
[tooltip-bottom]:focus:before,
[tooltip-bottom]:focus:after,
[tooltip-left]:hover:before,
[tooltip-left]:hover:after,
[tooltip-left]:focus:before,
[tooltip-left]:focus:after,
[tooltip-right]:hover:before,
[tooltip-right]:hover:after,
[tooltip-right]:focus:before,
[tooltip-right]:focus:after {
	visibility: visible;
	opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
[tooltip]:before,
[tooltip-bottom]:before,
[tooltip-left]:before,
[tooltip-right]:before {
	z-index: 1001;
	border: 6px solid transparent;
	background: transparent;
	content: "";
}

/* Base styles for the tooltip's content area */
[tooltip]:after,
[tooltip-bottom]:after,
[tooltip-left]:after,
[tooltip-right]:after {
	z-index: 1000;
	padding: 8px;
	margin: 0;
	background-color: #000;
	background-color: hsl(0, 0%, 20%);
	color: #fff;
	font-size: 14px;
	line-height: 1.2;
	white-space: pre;
}

/* Top (default) */
[tooltip]:after {
	margin-bottom: 12px;
	content: attr(tooltip);
}

[tooltip]:before,
[tooltip]:after {
	bottom: 100%;
	left: 50%;

	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

[tooltip]:before {
	border-top-color: #000;
	border-top-color: hsl(0, 0%, 20%);
}

/* Bottom */
[tooltip-bottom]:after {
	margin-top: 12px;
	content: attr(tooltip-bottom);
}

[tooltip-bottom]:before,
[tooltip-bottom]:after {
	top: 100%;
	left: 50%;

	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

[tooltip-bottom]:before {
	border-bottom-color: #000;
	border-bottom-color: hsl(0, 0%, 20%);
}

/* Left */
[tooltip-left]:before,
[tooltip-left]:after {
	top: 50%;
	right: 100%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

[tooltip-left]:before {
	bottom: 50%;
	margin-bottom: 0;
	border-top-color: transparent;
	border-left-color: #000;
	border-left-color: hsl(0, 0%, 20%);
}

[tooltip-left]:after {
	margin-right: 12px;
	content: attr(tooltip-left);
}

/* Right */
[tooltip-right]:before,
[tooltip-right]:after {
	top: 50%;
	left: 100%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

[tooltip-right]:before {
	bottom: 50%;
	margin-bottom: 0;
	border-top-color: transparent;
	border-right-color: #000;
	border-right-color: hsl(0, 0%, 20%);
}

[tooltip-right]:after {
	margin-left: 12px;
	content: attr(tooltip-right);
}