<div class="toolbar-view">
	<div class="col nav-left">
		<!--
		<div class="button" id="openRecordingButton">
			<div class="flex-column">
				<label for="file">
					<span class="icon icon-document"></span>
				</label>
				<input type="file" name="file" id="file" accept=".plr, .presenter" />
				<span class="desc-label">Open</span>
			</div>
		</div>
		-->
	</div>
	<div class="col nav-center">
		<div class="flex-column">
			<web-select id="sidebarPosSelect">
				<web-select-cell value="none">
					<div class="icon icon-sidebar-none"></div>
					<span>None</span>
				</web-select-cell>
				<web-select-cell value="left">
					<div class="icon icon-sidebar-left"></div>
					<span>Left</span>
				</web-select-cell>
				<web-select-cell value="right" selected>
					<div class="icon icon-sidebar-right"></div>
					<span>Right</span>
				</web-select-cell>
			</web-select>
			<span class="desc-label">Sidebar</span>
		</div>
	</div>
	<div class="col nav-right">
		<web-search id="search"></web-search>
	</div>
</div>