.toolbar-view {
	background: #3c464b;
	vertical-align: middle;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 10;
	padding: 10px;
}
.toolbar-view .col {
	flex: 1;
	display: flex;
}
.toolbar-view .nav-left {
	flex: 1;
	justify-content: flex-start;
}
.toolbar-view .nav-center {
	flex: 1;
	justify-content: center;
}
.toolbar-view .nav-right {
	flex: 1;
	justify-content: flex-end;
}
.toolbar-view .desc-label {
	color: #f0f0f0;
	font-size: 70%;
	letter-spacing: 1px;
	margin-top: 2px;
}
.toolbar-view .icon {
	color: #f2f4f4;
	font-size: 18px;
	cursor: pointer;
}

.toolbar-view #openRecordingButton {
	padding: 0;
	margin-top: 7px;
}
.toolbar-view #openRecordingButton input {
	display: none;
}
.toolbar-view #openRecordingButton .desc-label {
	padding-top: 3px;
}
.toolbar-view #openRecordingButton .icon {
	background-color: #535e64;
	padding: 8px;
}
.toolbar-view #openRecordingButton .icon:focus,
.toolbar-view #openRecordingButton .icon:hover {
	background-color: #627077;
}

.toolbar-view .flex-column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.toolbar-view web-select > web-select-cell span {
	display: none;
}
.toolbar-view web-select > web-select-cell .icon::before {
	color: #f2f4f4;
}
.toolbar-view web-select-cell .icon::before {
	color: black;
}
.toolbar-view web-select-cell span {
	padding-left: 0.5em;
}