.noise-reduction-settings {
    -fx-hgap: 5;
    -fx-vgap: 5;
    -fx-padding: 0.75em;
}
.noise-reduction-settings > HBox {
    -fx-spacing: 5;
}
.noise-reduction-settings > .chart {
    -fx-max-height: 14em;
    -fx-padding: 0.5em 0;
}
.noise-reduction-settings > .chart .chart-content {
    -fx-padding: 0;
}
.noise-reduction-settings > .chart .axis-label {
    -fx-font-size: 0.833333em;
}
.noise-reduction-settings > .buttons {
    -fx-alignment: center-right;
}
.noise-reduction-settings .play SvgIcon {
    -fx-icon-content: "M 4.9882812 2.5 A 0.50005 0.50005 0 0 0 4.5 3 L 4.5 21 A 0.50005 0.50005 0 0 0 5.2695312 21.419922 L 19.269531 12.419922 A 0.50005 0.50005 0 0 0 19.269531 11.580078 L 5.2695312 2.5800781 A 0.50005 0.50005 0 0 0 4.9882812 2.5 z M 5.5 3.9140625 L 18.078125 12 L 5.5 20.085938 L 5.5 3.9140625 z";
}
.noise-reduction-settings .play:selected SvgIcon {
    -fx-icon-content: "M 5 2.5 C 3.6236486 2.5 2.5 3.6236486 2.5 5 L 2.5 19 C 2.5 20.376351 3.6236486 21.5 5 21.5 L 19 21.5 C 20.376351 21.5 21.5 20.376351 21.5 19 L 21.5 5 C 21.5 3.6236486 20.376351 2.5 19 2.5 L 5 2.5 z M 5 3.5 L 19 3.5 C 19.839649 3.5 20.5 4.1603514 20.5 5 L 20.5 19 C 20.5 19.839649 19.839649 20.5 19 20.5 L 5 20.5 C 4.1603514 20.5 3.5 19.839649 3.5 19 L 3.5 5 C 3.5 4.1603514 4.1603514 3.5 5 3.5 z";
}
.noise-reduction-settings .update-snippet SvgIcon {
    -fx-icon-content: "M 23 3 A 1 1 0 0 0 22 4 L 22 9 L 17 9 A 1 1 0 0 0 16 10 A 1 1 0 0 0 17 11 L 23 11 A 1.0001 1.0001 0 0 0 24 10 L 24 4 A 1 1 0 0 0 23 3 z M 1 13 A 1.0001 1.0001 0 0 0 0 14 L 0 20 A 1 1 0 0 0 1 21 A 1 1 0 0 0 2 20 L 2 15 L 7 15 A 1 1 0 0 0 8 14 A 1 1 0 0 0 7 13 L 1 13 z M 12.216797 2.0234375 C 8.1357385 1.9556271 4.0915328 4.3561311 2.5664062 8.6660156 A 1 1 0 0 0 3.1757812 9.9433594 A 1 1 0 0 0 4.453125 9.3339844 C 6.4293235 3.749407 13.464547 2.1577605 17.652344 6.3476562 A 1.0001 1.0001 0 0 0 17.675781 6.3691406 L 22.314453 10.728516 A 1 1 0 0 0 23.728516 10.685547 A 1 1 0 0 0 23.685547 9.2714844 L 19.066406 4.9335938 C 17.127253 2.9934684 14.665432 2.0641237 12.216797 2.0234375 z M 0.99804688 13 A 1 1 0 0 0 0.27148438 13.314453 A 1 1 0 0 0 0.31445312 14.728516 L 4.9335938 19.066406 C 10.104669 24.240074 18.993391 22.2298 21.433594 15.333984 A 1 1 0 0 0 20.824219 14.056641 A 1 1 0 0 0 19.546875 14.666016 C 17.570677 20.250593 10.535453 21.842239 6.3476562 17.652344 A 1.0001 1.0001 0 0 0 6.3242188 17.630859 L 1.6855469 13.271484 A 1 1 0 0 0 0.99804688 13 z";
}