<div class="content">
	<div class="content-container">
		<div class="button-container">
			<div class="button" id="openRecordingButton">
				<input type="file" name="file" id="file" accept=".plr, .presenter" />
				<label for="file">
					<span class="icon icon-document"></span>
					<div>Open Recording</div>
				</label>
			</div>
<!--
			<div class="button" id="openStreamButton">
				<span class="icon icon-connect"></span>
				<div>Open Stream</div>
			</div>
-->
		</div>
<!--
		<ul class="classroom-list">
			{{#classrooms}}
			<li class="classroom-item">
				<span class="classroom-name">{{name}}</span>
				<span class="classroom-time">
					{{#formatClassroomDate}} {{createdTimestamp}} {{/formatClassroomDate}}
				</span>
			</li>
			{{/classrooms}}
		</ul>
-->
	</div>
</div>