start-view > .content {
	background: #373c41;
	width: 100%;
	height: 100vh;

	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='900'%3E%3Cpath d='M678,396L1137,499L827,210Z' fill='%23454d52' stroke='%23454d52' stroke-width='1.51'/%3E%3Cpath d='M678,396L855,703L1137,499Z' fill='%23475055' stroke='%23475055' stroke-width='1.51'/%3E%3Cpath d='M827,210L311,123L678,396Z' fill='%2340474c' stroke='%2340474c' stroke-width='1.51'/%3E%3Cpath d='M1242,113L896,53L827,210Z' fill='%23424a4f' stroke='%23424a4f' stroke-width='1.51'/%3E%3Cpath d='M678,396L503,574L855,703Z' fill='%23464e53' stroke='%23464e53' stroke-width='1.51'/%3E%3Cpath d='M311,123L503,574L678,396Z' fill='%2341484e' stroke='%2341484e' stroke-width='1.51'/%3E%3Cpath d='M1137,499L1242,113L827,210Z' fill='%23454d53' stroke='%23454d53' stroke-width='1.51'/%3E%3Cpath d='M1137,499L1371,430L1242,113Z' fill='%23485156' stroke='%23485156' stroke-width='1.51'/%3E%3Cpath d='M1571,653L1371,430L1511,798Z' fill='%234e585e' stroke='%234e585e' stroke-width='1.51'/%3E%3Cpath d='M1371,430L1441,329L1242,113Z' fill='%23485157' stroke='%23485157' stroke-width='1.51'/%3E%3Cpath d='M855,703L1201,1031L1137,499Z' fill='%234d565c' stroke='%234d565c' stroke-width='1.51'/%3E%3Cpath d='M439,1105L914,982L855,703Z' fill='%234c555b' stroke='%234c555b' stroke-width='1.51'/%3E%3Cpath d='M914,982L1201,1031L855,703Z' fill='%234e585e' stroke='%234e585e' stroke-width='1.51'/%3E%3Cpath d='M1371,430L1571,653L1441,329Z' fill='%234c555b' stroke='%234c555b' stroke-width='1.51'/%3E%3Cpath d='M896,53L689,-205L827,210Z' fill='%233f464b' stroke='%233f464b' stroke-width='1.51'/%3E%3Cpath d='M1043,-320L689,-205L896,53Z' fill='%233f464b' stroke='%233f464b' stroke-width='1.51'/%3E%3Cpath d='M689,-205L311,123L827,210Z' fill='%233d4449' stroke='%233d4449' stroke-width='1.51'/%3E%3Cpath d='M1511,798L1371,430L1137,499Z' fill='%234d565c' stroke='%234d565c' stroke-width='1.51'/%3E%3Cpath d='M1201,1031L1511,798L1137,499Z' fill='%234f595f' stroke='%234f595f' stroke-width='1.51'/%3E%3Cpath d='M503,574L439,1105L855,703Z' fill='%23495257' stroke='%23495257' stroke-width='1.51'/%3E%3Cpath d='M311,123L208,570L503,574Z' fill='%2340484d' stroke='%2340484d' stroke-width='1.51'/%3E%3Cpath d='M914,982L1008,1152L1201,1031Z' fill='%234f595f' stroke='%234f595f' stroke-width='1.51'/%3E%3Cpath d='M439,1105L1008,1152L914,982Z' fill='%234c565c' stroke='%234c565c' stroke-width='1.51'/%3E%3Cpath d='M1242,113L1043,-320L896,53Z' fill='%2341484e' stroke='%2341484e' stroke-width='1.51'/%3E%3Cpath d='M1459,-172L1043,-320L1242,113Z' fill='%23434a50' stroke='%23434a50' stroke-width='1.51'/%3E%3Cpath d='M1750,-141L1459,-172L1441,329Z' fill='%23454d52' stroke='%23454d52' stroke-width='1.51'/%3E%3Cpath d='M1441,329L1459,-172L1242,113Z' fill='%23464e53' stroke='%23464e53' stroke-width='1.51'/%3E%3Cpath d='M208,570L439,1105L503,574Z' fill='%23464e54' stroke='%23464e54' stroke-width='1.51'/%3E%3Cpath d='M311,123L0,205L208,570Z' fill='%233d4348' stroke='%233d4348' stroke-width='1.51'/%3E%3Cpath d='M147,-278L125,79L311,123Z' fill='%23393e43' stroke='%23393e43' stroke-width='1.51'/%3E%3Cpath d='M1459,-172L1065,-437L1043,-320Z' fill='%23424a4f' stroke='%23424a4f' stroke-width='1.51'/%3E%3Cpath d='M1043,-320L1065,-437L689,-205Z' fill='%2340474c' stroke='%2340474c' stroke-width='1.51'/%3E%3Cpath d='M689,-205L560,-379L311,123Z' fill='%233c4247' stroke='%233c4247' stroke-width='1.51'/%3E%3Cpath d='M1065,-437L560,-379L689,-205Z' fill='%233e454a' stroke='%233e454a' stroke-width='1.51'/%3E%3Cpath d='M1571,653L1803,445L1441,329Z' fill='%234c565b' stroke='%234c565b' stroke-width='1.51'/%3E%3Cpath d='M1862,590L1803,445L1571,653Z' fill='%234d575d' stroke='%234d575d' stroke-width='1.51'/%3E%3Cpath d='M125,79L0,205L311,123Z' fill='%233b4045' stroke='%233b4045' stroke-width='1.51'/%3E%3Cpath d='M208,570L160,1089L439,1105Z' fill='%23475055' stroke='%23475055' stroke-width='1.51'/%3E%3Cpath d='M13,-117L0,205L125,79Z' fill='%23383d42' stroke='%23383d42' stroke-width='1.51'/%3E%3Cpath d='M1817,822L1571,653L1511,798Z' fill='%23505b61' stroke='%23505b61' stroke-width='1.51'/%3E%3Cpath d='M1817,822L1862,590L1571,653Z' fill='%234f5a60' stroke='%234f5a60' stroke-width='1.51'/%3E%3Cpath d='M1684,1185L1817,822L1511,798Z' fill='%23535e64' stroke='%23535e64' stroke-width='1.51'/%3E%3Cpath d='M1684,1185L1511,798L1201,1031Z' fill='%23535e64' stroke='%23535e64' stroke-width='1.51'/%3E%3Cpath d='M0,205L-80,503L208,570Z' fill='%233e4449' stroke='%233e4449' stroke-width='1.51'/%3E%3Cpath d='M445,1319L1343,1326L1008,1152Z' fill='%234e585d' stroke='%234e585d' stroke-width='1.51'/%3E%3Cpath d='M1008,1152L1343,1326L1201,1031Z' fill='%23505b61' stroke='%23505b61' stroke-width='1.51'/%3E%3Cpath d='M-109,832L160,1089L208,570Z' fill='%23454c52' stroke='%23454c52' stroke-width='1.51'/%3E%3Cpath d='M439,1105L445,1319L1008,1152Z' fill='%234b545a' stroke='%234b545a' stroke-width='1.51'/%3E%3Cpath d='M310,1328L445,1319L439,1105Z' fill='%23495157' stroke='%23495157' stroke-width='1.51'/%3E%3Cpath d='M1825,-236L1750,-141L1803,445Z' fill='%23454d53' stroke='%23454d53' stroke-width='1.51'/%3E%3Cpath d='M1803,445L1750,-141L1441,329Z' fill='%23485156' stroke='%23485156' stroke-width='1.51'/%3E%3Cpath d='M1459,-172L1691,-371L1065,-437Z' fill='%23444c52' stroke='%23444c52' stroke-width='1.51'/%3E%3Cpath d='M560,-379L147,-278L311,123Z' fill='%233a4045' stroke='%233a4045' stroke-width='1.51'/%3E%3Cpath d='M147,-278L13,-117L125,79Z' fill='%23383d42' stroke='%23383d42' stroke-width='1.51'/%3E%3Cpath d='M0,205L-483,154L-80,503Z' fill='%233b4146' stroke='%233b4146' stroke-width='1.51'/%3E%3Cpath d='M1343,1326L1684,1185L1201,1031Z' fill='%23525d63' stroke='%23525d63' stroke-width='1.51'/%3E%3Cpath d='M445,1319L310,1328L1343,1326Z' fill='%234b555b' stroke='%234b555b' stroke-width='1.51'/%3E%3Cpath d='M160,1089L310,1328L439,1105Z' fill='%23485056' stroke='%23485056' stroke-width='1.51'/%3E%3Cpath d='M160,1089L-82,1207L310,1328Z' fill='%23464e54' stroke='%23464e54' stroke-width='1.51'/%3E%3Cpath d='M-80,503L-109,832L208,570Z' fill='%2341484d' stroke='%2341484d' stroke-width='1.51'/%3E%3Cpath d='M1750,-141L1691,-371L1459,-172Z' fill='%23454d52' stroke='%23454d52' stroke-width='1.51'/%3E%3Cpath d='M1750,-141L1825,-236L1691,-371Z' fill='%23454d52' stroke='%23454d52' stroke-width='1.51'/%3E%3Cpath d='M1862,590L1825,-236L1803,445Z' fill='%23495257' stroke='%23495257' stroke-width='1.51'/%3E%3Cpath d='M-109,832L-82,1207L160,1089Z' fill='%23454d52' stroke='%23454d52' stroke-width='1.51'/%3E%3Cpath d='M1343,1326L2043,1182L1684,1185Z' fill='%23535e64' stroke='%23535e64' stroke-width='1.51'/%3E%3Cpath d='M1684,1185L2043,1182L1817,822Z' fill='%23535e64' stroke='%23535e64' stroke-width='1.51'/%3E%3Cpath d='M1817,822L2043,1182L1862,590Z' fill='%23525d63' stroke='%23525d63' stroke-width='1.51'/%3E%3Cpath d='M1862,590L2043,1182L1825,-236Z' fill='%234d565c' stroke='%234d565c' stroke-width='1.51'/%3E%3Cpath d='M147,-278L-76,-529L13,-117Z' fill='%23373c41' stroke='%23373c41' stroke-width='1.51'/%3E%3Cpath d='M-453,-26L-483,154L0,205Z' fill='%23383e43' stroke='%23383e43' stroke-width='1.51'/%3E%3Cpath d='M-537,659L-422,927L-109,832Z' fill='%23434b50' stroke='%23434b50' stroke-width='1.51'/%3E%3Cpath d='M560,-379L-76,-529L147,-278Z' fill='%23393e43' stroke='%23393e43' stroke-width='1.51'/%3E%3Cpath d='M1065,-437L-76,-529L560,-379Z' fill='%233c4247' stroke='%233c4247' stroke-width='1.51'/%3E%3Cpath d='M-453,-26L0,205L13,-117Z' fill='%23373c41' stroke='%23373c41' stroke-width='1.51'/%3E%3Cpath d='M-109,832L-422,927L-82,1207Z' fill='%23454d52' stroke='%23454d52' stroke-width='1.51'/%3E%3Cpath d='M-537,659L-109,832L-80,503Z' fill='%2341484e' stroke='%2341484e' stroke-width='1.51'/%3E%3Cpath d='M-391,-414L-453,-26L13,-117Z' fill='%23373c41' stroke='%23373c41' stroke-width='1.51'/%3E%3Cpath d='M-483,154L-537,659L-80,503Z' fill='%233d4449' stroke='%233d4449' stroke-width='1.51'/%3E%3Cpath d='M-76,-529L-391,-414L13,-117Z' fill='%23373c41' stroke='%23373c41' stroke-width='1.51'/%3E%3Cpath d='M-453,-26L-391,-414L-483,154Z' fill='%23373c41' stroke='%23373c41' stroke-width='1.51'/%3E%3Cpath d='M-537,659L-350,1408L-422,927Z' fill='%23454d52' stroke='%23454d52' stroke-width='1.51'/%3E%3Cpath d='M-422,927L-350,1408L-82,1207Z' fill='%23454d52' stroke='%23454d52' stroke-width='1.51'/%3E%3Cpath d='M-82,1207L-350,1408L310,1328Z' fill='%23454d52' stroke='%23454d52' stroke-width='1.51'/%3E%3Cpath d='M310,1328L-350,1408L1343,1326Z' fill='%23495257' stroke='%23495257' stroke-width='1.51'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}
start-view .content-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
start-view .button-container {
	display: flex;
}
start-view .button-container > div {
	width: 150px;
}
start-view .classroom-list {
	box-sizing: border-box;
	justify-content: center;
	list-style-type: none;
	margin: 0;
	padding: 5px;
	width: 340px;
	overflow-y: auto;
}
start-view .classroom-list > li {
	display: flex;
	justify-content: space-between;
	background: #535e64;
	color: #f2f4f4;
	cursor: pointer;
	padding: 8px 12px;
	margin-bottom: 1px;
}
start-view .classroom-list > li:hover {
	background: #627077;
}
start-view .classroom-list > li:active {
	background: #808b96;
}
start-view .button {
	box-sizing: border-box;
	background-color: #535e64;
	border: none;
	color: #f2f4f4;
	padding: 15px 20px;
	margin: 5px;
	font-size: 14px;
	cursor: pointer;
	text-align: center;
}
start-view .button:hover {
	background-color: #627077;
}
start-view .button .icon {
	font-size: 30px;
}
start-view .button div {
	padding-top: 5px;
}

start-view #openRecordingButton {
	padding: 0;
}

start-view input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
start-view input[type="file"] + label {
	display: inline-block;
	padding: 15px 20px;
	cursor: pointer;
}

@media (max-width: 380px) {
	start-view .classroom-list {
		width: 100%;
	}
}