.video-export-progress {
	-fx-background-color: rgba(64, 64, 64, 0.85);
}
.video-export-progress > .content {
	-fx-background-color: white;
	-fx-background-radius: 3;
	-fx-padding: 1em;
	-fx-max-width: 500;
	-fx-max-height: 175;
}
.video-export-progress > .content .image-pane {
	-fx-background-color: -fx-color;
	-fx-background-radius: 3;
	-fx-padding: 0.5em;
}
.video-export-progress > .content > .title {
	-fx-font-size: 1.15em;
	-fx-font-weight: bold;
	-fx-padding: 0 0 1em 0;
}
.video-export-progress > .content > .progress-bar {
	-fx-padding: 0.5em;
	-fx-max-width: Infinity;
	-fx-pref-height: 1.75em;
}
.video-export-progress > .content > .buttons {
	-fx-alignment: bottom-right;
	-fx-spacing: 5;
}
.video-export-progress > .content > .progress-labels {
	-fx-alignment: center;
	-fx-spacing: 100;
	-fx-padding: 1em 0 0.5em 0;
}
.video-export-progress > .content > .progress-labels .label {
	-fx-padding: 0.15em 0.5em;
}
.video-export-progress > .content > .progress-labels .desc-value {
	-fx-background-color: -fx-color;
	-fx-background-radius: 3;
}