[Desktop Entry]
Name=lectureEditor
Comment=An integrated tool for presenting lectures
Exec=/opt/lecturestudio/bin/lectureEditor
Icon=/opt/lecturestudio/lib/lectureEditor.png
Terminal=false
Type=Application
Categories=Education
MimeType=application/presenter
