/*******************************************************************************
 *                                                                             *
 * Menu indicator                                                              *
 *                                                                             *
 ******************************************************************************/

.indicator .menu-button:disabled,
.indicator .menu-button:disabled .label {
    -fx-graphic-text-gap: 6;
    -fx-opacity: 1.0;
}
.indicator > * > SvgIcon {
    -fx-icon-fill: black;
}
.indicator-on {
    -fx-color: derive(-fx-base, -10%);
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
}

/*******************************************************************************
 *                                                                             *
 * Menu indicator icons                                                        *
 *                                                                             *
 ******************************************************************************/

.clock-icon {
	-fx-icon-content: "M512 1024q-62 0-119.25-16t-107-45.25-90.5-70-70-90.5-45.25-107-16-119.25 16-119.25 45.25-107 70-90.5 90.5-70 107-45.25 119.25-16 119.25 16 107 45.25 90.5 70 70 90.5 45.25 107 16 119.25-16 119.25-45.25 107-70 90.5-90.5 70-107 45.25-119.25 16zm0-832q-79.5 0-149.25 30.25t-122 82.5-82.5 122-30.25 149.25 30.25 149.25 82.5 122 122 82.5 149.25 30.25 149.25-30.25 122-82.5 82.5-122 30.25-149.25-30.25-149.25-82.5-122-122-82.5-149.25-30.25zm0 384v-256h-64v320h256v-64h-192z";
}
.record-indicator-icon {
	-fx-icon-content: "M386.2,144c-60.6,0-109.8,49.9-109.8,111.8c0,40.4,21,76.2,52.5,95.2H183.1c31.5-19,52.5-54.8,52.5-95.2 c0-61.9-49.2-111.9-109.8-111.9C65.2,143.9,16,194.1,16,255.9C16,317.8,65.2,368,125.8,368h260.4c60.6,0,109.8-50.1,109.8-112 C496,194.1,446.8,144,386.2,144z M128,320c-35.3,0-64-28.7-64-64c0-35.3,28.7-64,64-64s64,28.7,64,64C192,291.3,163.3,320,128,320z M384,320c-35.3,0-64-28.7-64-64c0-35.3,28.7-64,64-64s64,28.7,64,64C448,291.3,419.3,320,384,320z M128,208c-26.5,0-48,21.5-48,48c0,26.5,21.5,48,48,48s48-21.5,48-48C176,229.5,154.5,208,128,208z M384,208c-26.5,0-48,21.5-48,48c0,26.5,21.5,48,48,48s48-21.5,48-48C432,229.5,410.5,208,384,208z";
}
.quiz-indicator-icon {
    -fx-icon-content: "M170.718,216.482L141.6,245.6L235.2,339.2l208-208l-29.118-29.118L235.2,279.918L170.718,216.482z M422.4,256 c0,91.518-74.883,166.4-166.4,166.4S89.6,347.518,89.6,256S164.482,89.6,256,89.6c15.6,0,31.2,2.082,45.764,6.241L334,63.6 C310.082,53.2,284.082,48,256,48C141.6,48,48,141.6,48,256s93.6,208,208,208s208-93.6,208-208H422.4z";
}
.messenger-indicator-icon {
    -fx-icon-content: "M1024 64v704h-658.5l-237.5 237.5v-237.5h-128v-704h1024zm-64 64h-896v576h128v146.5l146.5-146.5h621.5v-576zm-320 320h-64v-128h128v128q0 13.5-5 25t-13.75 20.25-20.25 13.75-25 5v-64zm-256 0h-64v-128h128v128q0 13.5-5 25t-13.75 20.25-20.25 13.75-25 5v-64z";
}
.stream-indicator-icon {
    -fx-icon-content: "M449 66Q466 66 478.5 78.5T491 109V407Q491 425 478.5 437.5T449 450H299V407H449V109H65V173H22V109Q22 91 34.5 78.5T65 66H449ZM22 386Q49 386 67.5 404.5T86 450H22V386ZM22 301Q84 301 127.5 344.5T171 450H129Q129 406 97.5 374.5T22 343V301ZM22 215Q119 215 188 284T257 450H214Q214 370 158 314T22 258V215Z";
}