web-search {
	display: flex;
	flex-direction: row;
}
web-search div {
	display: flex;
	align-items: center;
}

web-search #searchResult {
	display: flex;
	background: #535e64;
	fill: #f2f4f4;
	color: #f2f4f4;
	position: absolute;
	visibility: hidden;
	height: 32px;
	z-index: 0;
}
web-search #searchResult #searchResultText {
	padding: 0 10px 0 10px;
}
web-search #searchResult .icon {
	cursor: pointer;
	font-size: 22px;
	padding: 0 3px 0 3px;
}
web-search #searchResult .icon:hover {
	color: #ff465a;
}

web-search #searchBox {
	position: relative;
	z-index: 1;
}
web-search #searchBox #searchField {
	border: 0;
	font-size: 80%;
	padding: 8px;
	margin: 0;
	height: 32px;
	background: #627077;
	color: #f2f4f4;
	outline: none;

	-webkit-appearance: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
web-search #searchBox #searchField {
	color: #f2f4f4;
}
web-search #searchBox #searchField::placeholder {
	color: #aec0ca;
}
web-search #searchBox #searchButton {
	background: #535e64;
	color: #f2f4f4;
	padding: 0 8px 0 8px;
	height: 100%;
}
web-search #searchBox #searchButton:hover {
	background: #627077;
}

.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-out {
	0% { transform: translateX(-100%); visibility: inherit; }
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-out {
	0% { transform: translateX(-100%); visibility: inherit; }
    100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-in {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); visibility: inherit; }
}

@-webkit-keyframes slide-in {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); visibility: inherit; }
}