web-select {
	position: relative;
	display: inline-block;
	font-size: 90%;
}
web-select > web-select-cell {
	background-color: #535e64;
}
web-select:hover > web-select-cell {
	background-color: #627077;
}
web-select #cellList {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}
web-select #cellList web-select-cell:hover {
	background-color: #ccc;
}
web-select #cellList.web-select-list-show {
	display: block;
}

web-select-cell {
	color: black;
	padding: 8px;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	cursor: pointer;
}